In [3]:
# 11.1 Create a file called zoo.py and define a function called hours()
with open('zoo.py', 'w') as file:
    file.write('def hours():\n    print("Open 9-5 daily")')

# Use the interactive interpreter to import the zoo module and call its hours() function.
#import zoo
#zoo.hours()

# 11.2 Import the zoo module as menagerie and call its hours() function.
import zoo as menagerie
menagerie.hours()

Open 9-5 daily

In [11]:
import sqlite3

# 16.4 Use the sqlite3 module to create a SQLite database and a table
db = sqlite3.connect('books.db')
curs = db.cursor()
curs.execute('''CREATE TABLE IF NOT EXISTS book (title TEXT, author TEXT, year INTEGER)''')
db.commit()

In [12]:
# 16.6 Select and print the title column from the book table in alphabetical order
sql = 'SELECT title FROM book ORDER BY title ASC'
for row in db.execute(sql):
    print(row[0])

In [13]:
import sqlalchemy

# 16.8 Use the sqlalchemy module to connect to the sqlite3 database
conn = sqlalchemy.create_engine('sqlite:///books.db')
sql = 'SELECT title FROM book ORDER BY title ASC'
rows = conn.execute(sql)

# Select and print the title column from the book table in alphabetical order
for row in rows:
    print(row[0])